<ul class="nav nav-pills">
    <li ng-class="{active:panel.isSelected(1)}">
        <a href="" ng-click="panel.selectedTab(1)">Description</a>
    </li>
    <li ng-class="{active:panel.isSelected(2)}">
        <a href="" ng-click="panel.selectedTab(2)">Specification</a>
    </li>
    <li ng-class="{active:panel.isSelected(3)}">
        <a href="" ng-click="panel.selectedTab(3)">Reviewes</a>
    </li>
</ul>
<div class="panel" ng-show="panel.isSelected(1)">
    <h4>Description</h4>
    <p>{{product.description}}</p>
</div>
<div ng-show="panel.isSelected(2)">
    <h4>Specs</h4>
    <blockquote>Shine: {{product.shine}}</blockquote>
</div>
<div ng-show="panel.isSelected(3)">
    <h4>Reviews</h4>
    <blockquote></blockquote>
</div>
